<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
    <h1>Lion King Bank Account</h1>
    <ul>
        <li  th:each="element : ${clients}">
            <form th:action="@{/exercise10/addTen?index=}">
                <span th:text="'Index: ' + ${elementStat.count} + ', Name: ' + ${element.name} + ', Balance: ' + ${#numbers.formatDecimal(element.balance, 1, 2, 'POINT')} + ', Type: ' + ${element.animalType} + ' , Side: ' + ${element.animalType == 'bad lion'? 'Bad Guy' : 'Good Guy'}"></span>
                <input th:type="submit" th:value="'Ten more zebras to ' + ${element.name}"/>
            </form>
        </li>
    </ul>
</body>
</html>