<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<ul th:each="element : ${clients}">
    <li th:class="${element.animalType == 'lion'}? 'King' : ''" th:text="'Index: ' + ${elementStat.index} + ', Name: ' + ${element.name} + ', Balance: ' + ${#numbers.formatDecimal(element.balance, 1, 2, 'POINT')} + ', Type: ' + ${element.animalType} + ' , Side: ' + ${element.animalType == 'bad lion'? 'Bad Guy' : 'Good Guy'}"></li>
</ul>
</body>
</html>