<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<ul>
  <li>
    <a href="/">Information</a>
  </li>
  <li>
    <a href="/nutrition">Nutrition Store</a>
  </li>
  <li>
    <a href="/trickCenter">Trick center</a>
  </li>
</ul>
<form method="post" action="/trickCenter/learn">
  <span>Tricks</span>
  <select name="tricks">
    <option></option>
    <option th:each="trick : ${tricks}" th:value="${trick}" th:text="${trick}"></option>
  </select>
  <input type="submit" value="Learn"/>
</form>
<p></p>
<form th:action="@{/trickCenter/newtrick}" th:method="post">
  <span th:text="'Add new trick to list'"></span>
  <input th:type="text" name="newTrick"/>
  <input th:type="submit" value="Add new trick"/>
</form>
</body>
</html>