<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
  <ul>
    <li>
      <a href="/">Information</a>
    </li>
    <li>
      <a href="/nutrition">Nutrition</a>
    </li>
  </ul>
  <form method="post" action="/change">
    <span>Food</span>
    <select>
      <option value="">gyros</option>
      <option value="1">salad</option>
      <option value="2">indian</option>
      <option value="3">pestimese-food</option>
      <option value="4">pizza</option>
    </select>
    <span>Drink</span>
    <select>
      <option value="">water</option>
      <option value="1">limonade</option>
      <option value="2">coffe</option>
      <option value="3">energy drink</option>
      <option value="4">coce</option>
    </select>
    <input type="submit" value="Change"/>
  </form>
</body>
</html>