<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
  <ul>
    <li>
      <a href="/">Information</a>
    </li>
    <li>
      <a href="/nutrition">Nutrition</a>
    </li>
  </ul>
  <form method="post" action="/chnage">
    <span>Food</span>
    <input type="" name="food" placeholder="Food"/>
    <span>Drink</span>
    <input type="text" name="drink" placeholder="Drink"/>
    <input type="submit" value="Change"/>
  </form>
</body>
</html>