<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
</head>
<body>
<ul>
  <li>
    <a href="/">Information</a>
  </li>
  <li>
    <a href="/nutrition">Nutrition Store</a>
  </li>
  <li>
    <a href="/trickCenter">Trick center</a>
  </li>
</ul>
<form method="post" action="/trickCenter/learn">
  <span>Tricks</span>
  <select name="tricks">
    <option></option>
    <option value="Do back-flip">do back-flip</option>
    <option value="Cook">cook</option>
    <option value="Write program in Java">write program in Java</option>
    <option value="Transparent vision">transparent vision</option>
    <option value="Run like Ussain Bolt">run like Ussain Bolt</option>
  </select>
  <input type="submit" value="Learn"/>
</form>
</body>
</html>