body{
  margin: 0px;
}

.banner {
  width: 100%;
  opacity: 0.2;
}

.allMenu {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.menu {
  width: 60px;
  height: 30px;
  padding: 30px;
  float:left;
}

article, h2 {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;
}
